@import "fonts.scss";

:root {
  --unit:1rem;
  --clr-primary: #069;
  --clr-secondary: #c1b2b2;
  --clr-troisieme: #3FC0D4;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #069;
}
      
h1, h2, h3, .icon {  
  font-family:'Raleway',cursive;
}
h1 {font-size:calc(var(--unit)*2);}
h2 {font-size:calc(var(--unit)*1.75);}
h3 {font-size:calc(var(--unit)*1.5);}

@media screen and (min-width: 600px) {
        h1 {font-size:calc(var(--unit)*3);}
        h2 {font-size:calc(var(--unit)*2.5);}
        h3 {font-size:calc(var(--unit)*2);}
}
    
.wrapper {
  max-width:1120px;
  margin:0 var(--unit);
  @media screen and (min-width: 1120px) {
    margin:0 auto;
  }
}

html, body {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.button-container,
.addremove {
  display:flex;
  justify-content:end;
  gap:calc(var(--unit)*.5);
  align-items:center;
}
button {
  border:0;
  outline:0;
  background:#333;
  color:#fff;
  padding:var(--unit);
  border-radius:calc(var(--unit)/4);
  transition:background-color .25s ease-in-out;
  &:hover {
    cursor:pointer;
    background-color:#000;
    transition:background-color .25s ease-in-out;
  }
  &:active {
    background-color:#555;    
    transition:background-color .25s ease-in-out;
  }
  &.icon {
        background:transparent;
        font-size:44px;
        color:var(--clr-primary);
        padding:0;
        &:hover {color:#000;transform:scale(1.05)}
        &:active {color:#555;}
  }
}

// Utilities
.txt-center {text-align:center;}
.nowrap {white-space: nowrap;}